RMI_DataService/Service References/ServiceReference1/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMI_DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMI_DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Details" nillable="true" type="tns:Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetails" nillable="true" type="tns:ArrayOfDetails" />
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpanseHead" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insurance_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PR_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Panel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sales_Tax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceDetails" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Details" nillable="true" type="tns:Details" />
</xs:schema>